<!-- Extends to Main.html -->
{% extends 'index.html' %}

<!-- Load static -->
{% load static %}

<!-- Load Datepicker CSS -->
{% block css %}
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
	integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE="
	crossorigin="anonymous"
/>
{% endblock css %}

<!-- Main Content -->
{% block content %}
<main>
	<div class="formwrapper event_formwrapper">
		<div class="create-room layout">
			<div class="formcontainer">
				<div class="form__box event_form_box">
					<div class="form__top">
						<div class="room__topleft">
							<a href="{% url 'events' %}">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
									<title>arrow-left</title>
									<path
										d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
									></path>
								</svg>
							</a>
						</div>
						<h3>Upload Event</h3>
					</div>
					<div class="layout__body">
						{% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
						<p style="text-align: center; justify-content: center; color: green">{{ message }}</p>
						{% else %}
						<p style="text-align: center; justify-content: center; color: red">{{ message }}</p>
						{% endif %} {% endfor %} {% endif %}

						<form action="" class="modalform" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="modalform__group">
								<label for="event_id">Event ID:</label>
								<input type="text" id="event_id" name="event_id" value="{{data.event_id}}" />
							</div>
							<div class="modalform__group">
								<label for="event_name">Event Name:</label>
								<input type="text" id="event_name" name="event_name" value="{{data.event_name}}" />
							</div>
							<div class="modalform__group">
								<label for="event_agenda">Agenda:</label>
								<input type="text" id="event_agenda" name="event_agenda" value="{{data.event_agenda}}" />
							</div>
							<div class="modalform__group">
								<label for="event_date">Event Date:</label>
								{{form.event_date}}
							</div>
							<div class="modalform__group">
								<label for="event_venue">Venue:</label>
								<input type="text" id="event_venue" name="event_venue" value="{{data.event_venue}}" />
							</div>
							<div class="modalform__group">
								<label for="no_participants">No Participants:</label>
								<input type="text" id="no_participants" name="no_participants" value="{{data.no_participants}}" />
							</div>
							<div class="modalform__group">
								<label for="impl_agency">Agency:</label>
								<input type="text" id="impl_agency" name="impl_agency" value="{{data.impl_agency}}" />
							</div>
							<div class="modalform__group">
								<label for="attendance_file">Attendance File:</label>
								{{form.attendance_file}}
							</div>
							<div class="modalform__action">
								<a class="modalbtn modalbtn--dark" href="{% url 'events' %}">Cancel</a>
								<button class="modalbtn modalbtn--main" type="submit">Upload Event</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- Load Datepicker JS -->
{% block js %}
<script
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"
></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
	integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k="
	crossorigin="anonymous"
></script>

<script>
	$(function () {
		$("#id_event_date").datepicker({
			format: "yyyy-mm-dd",
		});
	});
</script>
{% endblock js %} {% endblock content %}
