<!-- Extends to Main.html -->
{% extends 'index.html' %}

<!-- Load static -->
{% load static %}

<!-- Load Datepicker CSS -->
{% block css %}
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
	integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE="
	crossorigin="anonymous"
/>
{% endblock css %}

<!-- Main Content -->
{% block content %}
<main>
	<div class="formwrapper profile_formwrapper">
		<div class="create-room layout">
			<div class="formcontainer">
				<div class="form__box profile_form_box">
					<div class="form__top">
						<div class="room__topleft">
							<a href="{% url 'special-orders' %}">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
									<title>arrow-left</title>
									<path
										d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
									></path>
								</svg>
							</a>
						</div>
						<h3>Upload Order</h3>
					</div>
					<div class="layout__body">
						{% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
						<p style="text-align: center; justify-content: center; color: green">{{ message }}</p>
						{% else %}
						<p style="text-align: center; justify-content: center; color: red">{{ message }}</p>
						{% endif %} {% endfor %} {% endif %}

						<form action="" class="modalform" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="modalform__group">
								<label for="so_no">Order No:</label>
								<input type="text" id="so_no" name="so_no" value="{{data.so_no}}" />
							</div>
							<div class="modalform__group">
								<label for="so_date">Date:</label>
								{{form.so_date}}
							</div>
							<div class="modalform__group">
								<label for="so_file">File:</label>
								{{form.so_file}}
							</div>
							<div class="modalform__group">
								<label for="so_subject">Subject:</label>
								<input type="text" id="so_subject" name="so_subject" value="{{data.so_subject}}" />
							</div>
							<div class="modalform__group">
								<label for="so_content">Content:</label>
								<textarea name="so_content" cols="40" rows="10" id="so_content">{{data.so_content}}</textarea>
							</div>
							<div class="modalform__group">
								<label for="so_for">For:</label>
								{{form.so_for}}
							</div>
							<div class="modalform__group">
								<label for="so_signedby">Signed By:</label>
								<input type="text" id="so_signedby" name="so_signedby" value="{{data.so_signedby}}" />
							</div>
							<div class="modalform__action">
								<a class="modalbtn modalbtn--dark" href="{% url 'special-orders' %}">Cancel</a>
								<button class="modalbtn modalbtn--main" type="submit">Upload Order</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- Load Datepicker JS -->
{% block js %}
<script
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"
></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
	integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k="
	crossorigin="anonymous"
></script>

<script>
	$(function () {
		$("#id_so_date").datepicker({
			format: "yyyy-mm-dd",
		});
	});
</script>
{% endblock js %} {% endblock content %}
