<!-- Extends to Main.html -->
{% extends 'index.html' %}

<!-- Load static -->
{% load static %}

<!-- Load Datepicker CSS -->
{% block css %}
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
	integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE="
	crossorigin="anonymous"
/>
{% endblock css %}

<!-- Main Content -->
{% block content %}
<main>
	<div class="formwrapper moa_formwrapper">
		<div class="create-room layout">
			<div class="formcontainer">
				<div class="form__box moa_form_box">
					<div class="form__top">
						<div class="room__topleft">
							<a href="{% url 'moas' %}">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
									<title>arrow-left</title>
									<path
										d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
									></path>
								</svg>
							</a>
						</div>
						<h3>Upload MOA</h3>
					</div>
					<div class="layout__body">
						{% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
						<p style="text-align: center; justify-content: center; color: green">{{ message }}</p>
						{% else %}
						<p style="text-align: center; justify-content: center; color: red">{{ message }}</p>
						{% endif %} {% endfor %} {% endif %}

						<form action="" class="modalform" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="modalform__group">
								<label for="moau_no">Moa/u No:</label>
								<input type="text" id="moau_no" name="moau_no" value="{{data.moau_no}}" />
							</div>
							<div class="modalform__group">
								<label for="moau_type">File:</label>
								{{form.moau_file}}
							</div>
							<div class="modalform__group">
								<label for="moau_file">Type:</label>
								{{form.moau_type}}
							</div>
							<div class="modalform__group">
								<label for="moau_title">Moa/u Title:</label>
								<input type="text" id="moau_title" name="moau_title" value="{{data.moau_title}}" />
							</div>
							<div class="modalform__group">
								<label for="moau_objective">Objective:</label>
								<textarea name="moau_objective" cols="40" rows="10" id="moau_objective">{{data.moau_objective}}</textarea>
							</div>
							<div class="modalform__group">
								<label for="moau_approve_date">Approve Date:</label>
								{{form.moau_approve_date}}
							</div>
							<div class="modalform__group">
								<label for="moau_notarized_by">Notarized By:</label>
								<input type="text" id="moau_notarized_by" name="moau_notarized_by" value="{{data.moau_notarized_by}}" />
							</div>
							<div class="modalform__group">
								<label for="moau_notarized_date">Notarized Date:</label>
								{{form.moau_notarized_date}}
							</div>
							<div class="modalform__action">
								<a class="modalbtn modalbtn--dark" href="{% url 'moas' %}">Cancel</a>
								<button class="modalbtn modalbtn--main" type="submit">Upload MOA</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- Load Datepicker JS -->
{% block js %}
<script
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"
></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
	integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k="
	crossorigin="anonymous"
></script>

<script>
	$(function () {
		$("#id_moau_approve_date").datepicker({
			format: "yyyy-mm-dd",
		});
	});

	$(function () {
		$("#id_moau_notarized_date").datepicker({
			format: "yyyy-mm-dd",
		});
	});
</script>
{% endblock js %} {% endblock content %}
