<!-- Extends to Main.html -->
{% extends 'index.html' %}

<!-- Load static -->
{% load static %}

<!-- Load Datatables CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/datatables.css' %}" />
{% endblock css %}

<!-- Main Content -->
{% block content %}
<main>
	<div class="container">
		<h2 class="head-text">MEMORANDUMS ARCHIVING</h2>

		<div class="card shadow mb-4 mt-5">
			<div class="dashboard-header card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h4 class="font-weight-bold archives">Archives</h4>
				<a href="{% url 'add-memo' %}" class="add-docs d-none d-sm-inline-block btn btn-sm shadow-sm"> Upload Document </a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table datatable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Memo No.</th>
								<th>Date</th>
								<th>Subject</th>
								<th>Content</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for memo in memorandums %}
							<tr>
								<td>{{memo.memo_no}}</td>
								<td>{{memo.memo_date}}</td>
								<td>{{memo.memo_subject}}</td>
								<td>{{memo.memo_content|truncatechars:30}}</td>
								<td class="text-center">
									<span class="pop dl-docs d-none d-sm-inline-block btn btn-sm shadow-sm"> Preview </span>
									<a href="{% url 'edit-memo' memo.memo_no %}" class="dl-docs d-none d-sm-inline-block btn btn-sm shadow-sm"> Edit </a>
									<a href="{% url 'delete-memo' memo.memo_no %}" class="del-docs d-none d-sm-inline-block btn btn-sm shadow-sm"> Delete </a>
									<div class="preview_item-details">
										<h3 class="details_title">{{memo.memo_no}} - {{memo.memo_subject}}</h3>
										<p class="details_description">{{memo.memo_content}}</p>
										<ul class="details_info">
											<li>Date - <span>{{memo.memo_date}}</span></li>
											<li>Memo To - <span>{{memo.memo_to}} ({{memo.memo_to_pos}})</span></li>
											<li>Memo Thru - <span>{{memo.memo_thru}} ({{memo.memo_thru_pos}})</span></li>
											<li>Memo From - <span>{{memo.memo_from}} ({{memo.memo_from_pos}})</span></li>
											<li>Recommended By - <span>{{memo.memo_recomm_by}}</span></li>
											<li>Approved By - <span>{{memo.memo_approved_by}}</span></li>
											<li>Created At - <span>{{memo.created_at}}</span></li>
											<li>Created By - <span>{{memo.created_by}}</span></li>
											{% if memo.created_at|date:"F d, Y f a" == memo.modified_at|date:"F d, Y f a" %}
											<li>Modified At - <span>Not yet modified</span></li>
											<li>Modified By - <span>Not yet modified</span></li>
											{% else %}
											<li>Modified At - <span>{{memo.modified_at}}</span></li>
											<li>Modified By - <span>{{memo.modified_by}}</span></li>
											{% endif %}
										</ul>

										{% if memo.memo_file %}
										<span class="file"><a href="{{memo.memo_file.url}}" target="_blank">View File</a></span>
										{% endif %}
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="preview_popup">
		<div class="preview_popup-inner">
			<div class="preview_popup-content grid">
				<span class="preview_popup-close">
					<i class="bx bx-x"></i>
				</span>
				<div class="preview_popup-info">
					<div class="preview_popup-body">
						<h3 class="details_title">The services provide for design</h3>
						<p class="details_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at.</p>
						<ul class="details_info">
							<li>Created - <span>Dec 20, 2023</span></li>
							<li>Technologies - <span>HTML CSS</span></li>
							<li>Role - <span>Frontend</span></li>
							<li>
								View - <span><a href="#">www.domain.com</a></span>
							</li>
							<li>Created - <span>January 26, 2023</span></li>
							<li>Type - <span>Memo</span></li>
							<li>Role - <span>Frontend</span></li>
							<li>
								View - <span><a href="#">www.domain.com</a></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script>
	document.addEventListener("click", (e) => {
		if (e.target.classList.contains("pop")) {
			togglePortfolioPopup();

			portfolioItemDetails(e.target.parentElement);
			// console.log(e.target.parentElement);
		}
	});

	function togglePortfolioPopup() {
		document.querySelector(".preview_popup").classList.toggle("open");
	}

	document.querySelector(".preview_popup-close").addEventListener("click", togglePortfolioPopup);

	function portfolioItemDetails(portfolioItem) {
		document.querySelector(".preview_popup-body").innerHTML = portfolioItem.querySelector(".preview_item-details").innerHTML;
	}
</script>

<!-- Load Datatables JS -->
{% block js %}
<script src="{% static 'js/simple-datatables.js' %}"></script>
<script src="{% static 'js/tinymce.min.js' %}"></script>
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock js %} {% endblock content %}
